.gameMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.gameSetting {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.gameSettingItem {
  background: $primary-bg;
  border: $thin-border-width solid transparent;
  min-width: 40px;
  font-size: $font-size-lg;
  font-family: $primary-font;
  color: #000;
  user-select: none;
  text-align: left;
  cursor: pointer;
}

.gameMenu {
  position: absolute;
  padding: $p-sm 0;
  top: 100%;
  left: 0;
  background: $primary-bg;
  border: $thin-border-width solid #000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: $z-modal;
  min-width: 140px;
  font-family: $primary-font;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $p-sm $p-xl $p-sm $p-2xl;
  cursor: pointer;
  color: #000;
  white-space: nowrap;

  &:hover {
    color: $button-hover-color;
  }
}

.shortcut {
  color: $shortcut-color;
  font-size: $font-size-sm;
}

.menuDivider {
  height: 1px;
  background: $dark-shadow;
  margin: $p-sm;
  border-top: $thin-border-width solid $dark-shadow;
  border-bottom: $thin-border-width solid $light-shadow;
}
