.gamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: $p-2xl;
  background: $page-bg;
  font-family: $primary-font;
}

.gameContainer {
  @include border-outset;

  display: flex;
  flex-direction: column;
  background: $primary-bg;
  gap: $g-md;
  padding: $p-md;
}

.gameSettingContainer {
  display: flex;
  flex-direction: column;
  background-color: $primary-bg;
  border-radius: $r-md;
  padding: $p-md;
  font-size: $font-size-md;
  font-weight: bold;
  gap: $p-md;
}
